<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.rocketmqconsumer.dao.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shi.rocketmqconsumer.entity.Log">
        <id column="ID" property="id" />
        <result column="IP_ADDRESS" property="ipAddress" />
        <result column="MAC" property="mac" />
        <result column="JS_ERROR" property="jsError" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, IP_ADDRESS, MAC, JS_ERROR
    </sql>

    <insert id="insertBatchLog">
        INSERT INTO BROWSER_LOG
        (ID,IP_ADDRESS,MAC,JS_ERROR) VALUES
        <foreach collection="request" item="d" separator=",">
            (#{d.id},#{d.ipAddress},#{d.mac},#{d.messageInfo})
        </foreach>
    </insert>

</mapper>
