<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.rocketmqconsumer.dao.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shi.rocketmqconsumer.entity.Message">
        <id column="id" property="id" />
        <result column="topic" property="topic" />
        <result column="tag" property="tag" />
        <result column="message" property="message" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="msgid" property="msgid" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, topic, tag, message, createTime, updateTime, msgid, status
    </sql>

</mapper>
