<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.rocketmqconsumer.dao.Messagetag1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shi.rocketmqconsumer.entity.Messagetag1">
        <id column="id" property="id" />
        <result column="msgid" property="msgid" />
        <result column="messageinfo" property="messageinfo" />
        <result column="topic" property="topic" />
        <result column="tag" property="tag" />
        <result column="status" property="status" />
        <result column="bornTimestamp" property="bornTimestamp" />
        <result column="storeTimestamp" property="storeTimestamp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, msgid, messageinfo, topic, tag, status, bornTimestamp, storeTimestamp
    </sql>

</mapper>
